/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-seif;
  padding: 30px;
}

header {
  font-family: "Raleway", sans-serif;
  padding: 30px;
  text-align: left;
}

footer {
  text-align:-webkit-center;
  background-color: #e8e8e8;
  padding: 40px;
}

.title {
  color: black;
  text-decoration: none;
  font-size: 2em;
  width: 100%;
}

.nav-link {
  color: black;
  font-size: 15px;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
