/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding: 40px;
}

footer {
  text-align:-webkit-center;
  background-color: #e8e8e8;
  padding: 40px;
}

.title {
  color: black;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
}

.title:hover {
  color: #1792ea;
  transition-duration: 0.4s;
}

.nav-link {
  color: black;
  font-size: 15px;
  text-decoration: none;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 20px;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.nav-link:hover {
  color: #e8e8e8;
  transition-duration: 0.4s;
}

header p {
  display: inline;
  padding-right: 10px;
}

.icon a {
  display: inline-block;
  color: black;
}

.pagebox {
  text-decoration: none;
}

.pagebox img {
  width: 300px;
  height: 300px;
  padding: 20px;
  display: inline-block;
}

img:hover {
 opacity: .6;
}
