/*variables*/
$watermelon: #f76c6c
$title-blue: #24305e
$sky-blue: #a8d0e6
$daffodil: #f8e9a1
$stone: #5f6060
$invisible: #e2e2e2

body
  border-left: 20px solid $watermelon
  margin: 0
  padding: 0

header
  display: flex
  flex-flow: column wrap
  nav
    display: flex
    flex-flow: column wrap
    margin-left: auto
    margin-right: auto
    align-items: center
    padding-right: 30px
  h1
    margin-left: auto
    margin-right: auto
  a:hover
    color: $watermelon

.intro
  mark
    display: inline-block
    line-height: 0em
    padding-bottom: 0.5em
    background-color: $daffodil
    color: $stone
main
  display: grid
  grid-template-columns: 10% 1fr 10%
  padding-top: 50px
.img-container
  position: relative
  img
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
    -webkit-transition-delay: 0s
    -moz-transition-delay: 0s
    -o-transition-delay: 0s
    transition-delay: 0s
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000

.img-container:hover
  img.slidedown
    -webkit-transform: translate3d(1em,1em,0)
    -moz-transform: translate3d(1em,1em,0)
    -o-transform: translate3d(1em,1em,0)
    -ms-transform: translate3d(1em,1em,0)
    transform: translate3d(1em,1em,0)
  img.slideup
    -webkit-transform: translate3d(-1em,-1em,0)
    -moz-transform: translate3d(-1em,-1em,0)
    -o-transform: translate3d(-1em,-1em,0)
    -ms-transform: translate3d(-1em,-1em,0)
    transform: translate3d(-1em,-1em,0)






.project-grid
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr
  div
    width: 300px
    height: 340px
    position: relative
    margin: auto
  img
    width: 300px
    height: auto
    position: absolute

footer
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  margin-top: 50px
  p
    color: $invisible
  i
    font-size: 24px
  a
    padding-right: 20px

h1
  font-family: 'Playfair Display'
  font-size: 36pt
  justify-content: flex-start
  font-weight: bold
  color: $title-blue
  //padding-left: 36px
h3
  font-family: 'Lato'
  color: $stone
  text-align: center
  font-style: italic
a
  font-family: 'Lato'
  font-size: 12pt
  color: $stone
  text-decoration: none
  padding-right: 20px
p
  font-family: 'Lato'
  font-size: 12pt
  color: $stone
i:hover
  color: $watermelon


/*tablet*/
@media (min-width: 768px)
  .project-grid
    grid-template-columns: 1fr 1fr

  header
    flex-flow: row wrap
    h1
      margin-left: 50px
      //float: left
    nav
      display: flex
      flex-flow: row wrap
      margin-right: 50px
      align-items: center
      padding-right: 30px
    a:hover
      color: $watermelon
@media (min-width: 1224px)
  .project-grid
    grid-template-columns: 1fr 1fr 1fr
