/*variables*/
body {
  border-left: 20px solid #f76c6c;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: column wrap;
  padding-top: 30px;
  padding-bottom: 50px;
}
header nav {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-right: 30px;
}
header h1 {
  margin-left: auto;
  margin-right: auto;
}
header a:hover {
  color: #f76c6c;
}

.intro h3 {
  text-align: center;
  color: #5f6060;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #f8e9a1;
  color: #5f6060;
}

.project-container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  padding-top: 50px;
}

.img-container {
  position: relative;
}
.img-container img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.img-container:hover img.slidedown {
  -webkit-transform: translate3d(1em, 1em, 0);
  -moz-transform: translate3d(1em, 1em, 0);
  -o-transform: translate3d(1em, 1em, 0);
  -ms-transform: translate3d(1em, 1em, 0);
  transform: translate3d(1em, 1em, 0);
}
.img-container:hover img.slideup {
  -webkit-transform: translate3d(-1em, -1em, 0);
  -moz-transform: translate3d(-1em, -1em, 0);
  -o-transform: translate3d(-1em, -1em, 0);
  -ms-transform: translate3d(-1em, -1em, 0);
  transform: translate3d(-1em, -1em, 0);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.project-grid div {
  width: 300px;
  height: 340px;
  position: relative;
  margin: auto;
}
.project-grid img {
  width: 300px;
  height: auto;
  position: absolute;
}

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
footer p {
  color: #e2e2e2;
}
footer i {
  font-size: 24px;
  color: #5f6060;
}
footer a {
  padding-right: 20px;
}

h1 {
  font-family: "Roboto";
  font-size: 25pt;
  justify-content: flex-start;
  font-weight: 900;
  color: #374785;
  letter-spacing: 2pt;
}

h3 {
  font-family: "Roboto";
  font-weight: 300;
}

h4 {
  font-family: "Roboto";
  font-weight: 300;
  color: #5f6060;
  font-size: 12px;
}

a {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12pt;
  color: #24305e;
  text-decoration: none;
  padding-right: 20px;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12pt;
  color: #5f6060;
}

i:hover {
  color: #f76c6c;
}

.about {
  display: grid;
  width: 85%;
  grid-template-columns: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}
.about img {
  margin: auto;
  width: 90%;
}

.project {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.project .slider-container {
  margin-right: 20px;
  vertical-align: middle;
  max-width: 500px;
  height: 500px;
  position: relative;
}
.project img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  display: none;
  height: auto;
}
.project video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
}
.project h3 {
  margin-bottom: 5px;
  font-size: 30px;
}
.project h4 {
  margin-top: 5px;
  text-transform: uppercase;
}
.project p {
  font-weight: 300;
}
.project button {
  background-color: #5f6060;
  opacity: 0.7;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.project .button-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  vertical-align: middle;
}
.project .button-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  vertical-align: middle;
}

/*tablet*/
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }

  header {
    flex-flow: row wrap;
  }
  header h1 {
    margin-left: 70px;
    text-transform: uppercase;
  }
  header nav {
    display: flex;
    flex-flow: row wrap;
    margin-right: 50px;
    align-items: center;
    padding-right: 30px;
  }
  header a:hover {
    color: #f76c6c;
  }
}
@media (min-width: 1224px) {
  .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
